@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  --gradient-color: #6610F2;
  --text-elements-color: #FFC107;
  --section-title-font-size: 13px;
  --section-text-font-size: 10px;
  --job-title-font-size: 11px;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html, body {
  /* max-width: 595px; */
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #101010;
  color: white;
  font-family: 'Inter';
  font-style: normal;
}

#root {
  /* height: 100%; */
}

.header {
  background: radial-gradient(100% 100% at 100% 100%, var(--gradient-color) 0%, #252525 100%);
  color: white;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  position: relative;
}

.avatar-container {
  margin: 15px 35px;
}

.avatar {
  box-sizing: border-box;
  
  width: 180px;
  height: 180px;
  left: 35px;
  top: 15px;
  
  background: #FFFFFF;
  border: 1px solid #252525;
  box-shadow: 15px 50px 50px rgba(37, 37, 37, 0.25);
  border-radius: 1000px;
}

.hero-container {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-name {
  left: -2px;
  top: 3px;

  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  /* line-height: 48px; */

  color: #FFFFFF;

  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.hero-job {
  width: 248px;
  height: 24px;
  left: 0px;
  top: 99px;

  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  /* line-height: 24px; */
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidenav {
  width: 42%;
  
  float: left;  
  margin-right: 20px;
  padding: 15px;

  background: #252525;
  box-shadow: 20px 40px 40px rgba(37, 37, 37, 0.5);
}

.main-info {
  margin: 15px 10px;
  margin-left: 43%;
}

.container-with-yellow-border {
  padding: 15px;
  background: rgba(30, 30, 30, 0.5);
  border: 1px solid rgba(255, 193, 7, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px 0px;
}

.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: var(--section-title-font-size);
  /* line-height: 16px; */
  margin: 0;
  padding: 0;
  position: relative;
}

.section-title:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--text-elements-color);
  display: block;
  margin-top: 5px;
}

.section-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: var(--section-text-font-size);
  /* line-height: 12px;   */
  margin-top: 12px;
  margin-bottom: 5px;
}

.section-text > p {
  margin: 0;
  margin-bottom: 6px;
}

.skill {
  background-color: var(--text-elements-color);
  color: #101010;
  margin: 3px;
  padding: 0 7px;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px;
}

.container-with-shadow {
  background: #252525;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px rgba(255, 193, 7, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.sidenav > .container-with-shadow {
  margin: 15px 0px;
}

.icon {
  fill: var(--text-elements-color);
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.icons-p {
  vertical-align: middle; 
  font-size: var(--section-text-font-size);
}

.icons-p:nth-child(3) {
  margin: 20px 0px;
  font-weight: 400;
  font-size: var(--section-title-font-size);
}

.icons-container {
  margin: 10px auto;
}

.container-with-gradient {
  background: radial-gradient(100% 112.5% at 100% 100%, var(--gradient-color) 0%, rgba(16, 16, 16, 0.5) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px rgba(102, 16, 242, 0.15);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.education-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  border-bottom: 1px solid var(--text-elements-color) ;
}

.education-container > p {
  white-space: nowrap;
}

.education-container > div > p {
  margin: 5px;
  padding: 0;
}

.education-container > div > p:first-child {
  font-size: var(--job-title-font-size);
}

.timeline {
  margin: 0;
  margin-left: 20px;
  border-left: 1px solid var(--text-elements-color);
}

.timeline > ul > li {
  padding-left: 20px;
  margin-bottom: 10px;
  position: relative;
}

.timeline > ul > li::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  left: -5px;
  background-color: var(--text-elements-color);
  border: 2px solid #252525;
  border-radius: 50%;
  top: 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work-period-container {
 display: inline-block;
 margin: 5px 0;
 padding: 2px 5px;
 color: #000;
 background-color: var(--text-elements-color);
 border-radius: 5px;
}

.work-period-container > p {
  margin: 0;
}

.work-exp-container > p {
  margin: 0;
}

.work-exp-container > p:first-child {
  font-weight: 600;
  font-size: var(--job-title-font-size);
}

.work-exp-container > p:nth-child(2) {
  margin-bottom: 10px;
}

.work-exp-container > ul > li {
  margin-left: 5px;
  margin-bottom: 5px;
}

.show-more-span {
  text-decoration: underline;   
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  :root {
    --section-title-font-size: 18px;
    --section-text-font-size: 14px;
    --job-title-font-size: 16px;
  }

  html, body {
    max-width: 1200px;
    padding: 0 10px;
  }

  .header {
    justify-content: space-between;
  }

  .hero-name {
    width: 370px;
    height: 55px;
    left: -2px;
    top: 3px;
    text-align: right;
  }

  .hero-job {
    text-align: right;
  }

  .hero-container {
    align-items: flex-end;
    margin-right: 50px;
  }

  .sidenav {
    width: 30%;
  }
  
  .main-info {
    margin-left: 31%;
  }

  .skill {
    padding: 3px 7px;
  }

  .section-text > p {
    margin-bottom: 10px;
  }
  
  .work-exp-container > ul > li {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 594px) {
  html, body {
    padding: 0;
  }

  .hero-name {
    font-size: 30px;
  }
  
  .hero-job {
    font-size: 16px;
    text-align: left;
    width: auto;
  }
  
  .avatar {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 495px) {
  
  .sidenav {
      /* align-items: center; */
      float: none;
      width: calc(100% - 20px);
      margin: 0 auto;
      background: none;
      box-shadow: none;
    }

    .main-info {
      width: 100%;
      margin: 0;
    }

    .avatar {
      width: 100px;
      height: 100px;
    }

    .avatar-container {
      margin: 8px 15px;
    }

    .hero-name {
      font-size: 20px;
    }

    .hero-job {
      font-size: 12px;
    }
}
