@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.App {
  text-align: center;
}

html, body {
  max-width: 595px;
  margin: 0 auto;
  padding: 0;
  background-color: #252525;
  color: white;
}

.header {
  background: radial-gradient(100% 100% at 100% 100%, #6610F2 0%, #252525 100%);
  color: white;
  /* height: 300px; */
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;

}

.avatar-container {
  margin: 15px 35px;
}

.avatar {
  box-sizing: border-box;
  
  width: 180px;
  height: 180px;
  left: 35px;
  top: 15px;
  
  background: #FFFFFF;
  border: 1px solid #252525;
  box-shadow: 15px 50px 50px rgba(37, 37, 37, 0.25);
  border-radius: 1000px;
}

.hero-container {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-name {
  width: 186px;
  height: 96px;
  left: -2px;
  top: 3px;

  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #FFFFFF;

  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.hero-job {
  width: 248px;
  height: 24px;
  left: 0px;
  top: 99px;

  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}